

@model List<DogModel>


@if(Model == null || !Model.Any())
{
	<h1> Could not find Doggos</h1>
}
else
{
	<h1>Our dogs</h1>
	
	@foreach(var dog in Model)
	{
		<div class="dog-item">
			<a asp-controller="Dogs" asp-action="Details" asp-route-id="@dog.Id" ><h2>@dog.Name</h2></a>
			<label>Favorite food: </label>
			<span>@dog.FavFood </span>
			
			för att visa enskil dog.
			@if(dog.IsAdopted) 
			{
				<h3>This dog found a happy home</h3>
			}
			else
			{
				<br />
				<a class="btn btn -primary" asp-controller="Dogs" asp-action="Adopt" asp-route-id="@dog.Id" >Adopt Dog</a>
			}

			<hr />

		</div>
	}

}
